## Import Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

## Import the models

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

## Data Collection and Processing

In [3]:
heart_data = pd.read_csv("heart_disease_data.csv")

In [4]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
heart_data.shape

(303, 14)

In [6]:
# getting the information about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [7]:
# Cheching for missing data
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
# Statistical Measure
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
# Checking for distribution of data
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

1: Heart Disease</br>
0: No Heart Disease

In [10]:
heart_data.groupby('target').mean()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
target,,,,,,,,,,,,,
0,56.601449,0.826087,0.478261,134.398551,251.086957,0.159420,0.449275,139.101449,0.550725,1.585507,1.166667,1.166667,2.543478
1,52.496970,0.563636,1.375758,129.303030,242.230303,0.139394,0.593939,158.466667,0.139394,0.583030,1.593939,0.363636,2.121212

In [11]:
# SPlit into Feature and Target
X = heart_data.drop('target',axis=1)
Y = heart_data['target']

In [12]:
print(X)
Y

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

# Train Test Split

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=3)

In [16]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

## Comparing the performance of models

In [22]:
# list of models
models = [LogisticRegression(max_iter=1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [27]:
def compare_models_train_test_split():
    
    # Loading one model at a time
    for model in models: 
        
        # training the model
        model.fit(X_train, Y_train)
        
        # Evaluating the model
        test_data_prediction = model.predict(X_test)
        
        # Accuravy score of model
        accuracy = accuracy_score(Y_test, test_data_prediction)
        
        print('Accuracy score of', model, ': ',accuracy*100)

In [28]:
compare_models_train_test_split()

Accuracy score of LogisticRegression(max_iter=1000) :  78.68852459016394
Accuracy score of SVC(kernel='linear') :  77.04918032786885
Accuracy score of KNeighborsClassifier() :  65.57377049180327
Accuracy score of RandomForestClassifier() :  78.68852459016394

# Cross Validation

### Logistic Regression

In [38]:
cv_score_lr = cross_val_score(LogisticRegression(max_iter=1000), X, Y, cv=5)
# cv will split the data into 5 parts with equal proportions of Y classes

print("Cross Validation score for Logistic Regression: \n", cv_score_lr)

# calculation mean accuracy score = sum of all the cross validation score/ total number of values
mean_accuracy_lr = round(((sum(cv_score_lr)/len(cv_score_lr))*100),2)
print("Mean accuracy score for Logistic Regression model: ", mean_accuracy_lr)

Cross Validation score for Logistic Regression:
 [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Mean accuracy score for Logistic Regression model:  82.83

### Support Vector CLassifier

In [39]:
cv_score_svc = cross_val_score(SVC(kernel='linear'), X, Y, cv=5)
# cv will split the data into 5 parts with equal proportions of Y classes

print("Cross Validation score for Support Vector CLassifier: \n", cv_score_svc)

# calculation mean accuracy score = sum of all the cross validation score/ total number of values
mean_accuracy_svc = round(((sum(cv_score_svc)/len(cv_score_svc))*100),2)
print("Mean accuracy score for Support Vector Classifier: ", mean_accuracy_svc)

Cross Validation score for Support Vector CLassifier:
 [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Mean accuracy score for Support Vector Classifier:  82.83

### K Nearest Neighbors Classifier

In [50]:
cv_score_knn = cross_val_score(KNeighborsClassifier(), X, Y, cv=5)
# cv will split the data into 5 parts with equal proportions of Y classes

print("Cross Validation score for KNN Classifier: \n", cv_score_knn)

# calculation mean accuracy score = sum of all the cross validation score/ total number of values
mean_accuracy_knn = round(((sum(cv_score_knn)/len(cv_score_knn))*100),2)
print("Mean accuracy score for KNN Classifier: ", mean_accuracy_knn)

Cross Validation score for KNN Classifier:
 [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Mean accuracy score for KNN Classifier:  64.39

### Random Forest Classifier

In [51]:
cv_score_rfc = cross_val_score(RandomForestClassifier(), X, Y, cv=5)
# cv will split the data into 5 parts with equal proportions of Y classes

print("Cross Validation score for Random Forest Classifier: \n", cv_score_rfc)

# calculation mean accuracy score = sum of all the cross validation score/ total number of values
mean_accuracy_rfc = round(((sum(cv_score_rfc)/len(cv_score_rfc))*100),2)
print("Mean accuracy score for Random Forest Classifier: ", mean_accuracy_rfc)

Cross Validation score for Random Forest Classifier:
 [0.83606557 0.90163934 0.7704918  0.81666667 0.76666667]
Mean accuracy score for Random Forest Classifier:  81.83

## Creating a function to compare model for cross validation

In [40]:
# list of models
models = [LogisticRegression(max_iter=1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [47]:
def compare_models_cross_validation():
    
    # Loading one model at a time
    for model in models: 
        
        # getting the cross validation score
        cv_score = cross_val_score(model, X, Y, cv=5)
        print("Cross Validation score for ",model,": ", cv_score_svc)
        mean_accuracy = round(((sum(cv_score)/len(cv_score))*100),2)
        print("Mean accuracy score for ",model,": ", mean_accuracy_svc)
        print("********************************************************************")

In [48]:
compare_models_cross_validation()

Cross Validation score for  LogisticRegression(max_iter=1000) :  [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Mean accuracy score for  LogisticRegression(max_iter=1000) :  82.83
********************************************************************
Cross Validation score for  SVC(kernel='linear') :  [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Mean accuracy score for  SVC(kernel='linear') :  82.83
********************************************************************
Cross Validation score for  KNeighborsClassifier() :  [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Mean accuracy score for  KNeighborsClassifier() :  82.83
********************************************************************
Cross Validation score for  RandomForestClassifier() :  [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Mean accuracy score for  RandomForestClassifier() :  82.83
********************************************************************